body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFBFB;
    color: #111111
}

nav.navbar {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    background-color: #476782;
   }

nav.navbar>div>ul{
    font-size: 1.25em;
    padding-bottom: 5px;
    padding-top: 0px;
}

.logo-text{
    font-family: 'Satisfy', cursive;
    font-size: 1.5em;
}

.page-title{
    font-size: 2em;
    font-weight: 400;
}

.spinner{
    font-size: 7em;
    color: #6A80A3;
    position: absolute;
    top: 26%;
    left:46%;
}

.hiker{
    font-size: 7em;
}

.use-icon{
    font-size: 1.5em;
}

.fa-comment{
    font-size: 3em;
}

.fa-star{
    color: goldenrod;
}

.fa-question{
    font-size: 1.4em;
}

.fa-search{
    font-size: 1.5em;
}

.result-content{
    background-color: #DDE3E8;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    margin-top: 0px;
}

.result-head{
    background-color: #6A80A3;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
}

.result-header-text{
    font-size: 1.75em;
    color: #FAFBFB;
    
}

.result-header-rating{
    font-size: 1em;
    color: #FAFBFB;
}

.btn-search{
    background-color: #B5BABE;
}

.fixed_header tbody{
    display:block;
    overflow:auto;
    height:200px;
    width:100%;
  }

.fixed_header thead tr{
display:block;
}