body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFBFB;
    color: #111111
}

footer{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFBFB;
    color: #111111
}

nav.navbar {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    background-color: #476782;
   }

nav.navbar>div>ul{
    font-size: 1.25em;
    padding-bottom: 5px;
    padding-top: 0px;
}

.logo-text{
    font-family: 'Satisfy', cursive;
    font-size: 1.5em;
}

.page-title{
    font-size: 2em;
    font-weight: 400;
}

.spinner{
    font-size: 7em;
    color: #6A80A3;
    position: absolute;
    top: 300px;
    left: 46%;
}

.hiker{
    font-size: 7em;
}

.use-icon{
    font-size: 1.5em;
}

.use-text{
    font-size: .65em;
}

.use-text-light{
    font-size: .65em;
    color: #FAFBFB;
}

.fa-comment{
    font-size: 3em;
}

.fa-star{
    color: goldenrod;
}

.fa-question{
    font-size: 1.4em;
}

.fa-search{
    font-size: 1.5em;
}

.iframe-container{
    height: 420px;
    
}

.search-result-content{
    background-color: #DDE3E8;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 2.5%;
}

.result-content{
    background-color: #6A80A3;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 2.5%;
}

.result-mid{
    background-color: #6A80A3;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 1%;
    padding-bottom: .5%;
    display: flex;
    flex-direction: column;
}

.result-head{
    background-color: #6A80A3;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
}

.result-header-text{
    font-size: 2.25em;
    font-weight: 500;
    color: #FAFBFB;
    
}

.result-header-rating{
    font-size: 1.15em;
    color: #FAFBFB;
}

.result-header-icon{
    font-size: 2.25em;
    color: #DDE3E8;
}

.result-comment{
    margin-bottom: 10px;
    border: 1px solid #6A80A3;
    border-radius: 5px 5px 5px 5px;
    background-color: #DDE3E8;
}

.rating-container {
    white-space: nowrap;
    overflow: clip;
}

.btn-search{
    background-color: #B5BABE;
}

.fixed_header tbody{
    display:block;
    overflow:auto;
    height:200px;
    width:100%;
  }

.fixed_header thead tr{
    display:block;
}

.rate-hard {
    float: left;
    height: 10px;
    padding: 0 10px;
    margin-bottom: 20px;
}

.rate-hard:not(:checked) > input {
    position:absolute; 
    left:-999px;
}

.rate-hard:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:25px;
    color:#ccc;
}

.rate-hard:not(:checked) > label:before {
    content: '★ ';
}

.rate-hard > input:checked ~ label {
    color: #ffc700;    
}

.rate-hard:not(:checked) > label:hover,
.rate-hard:not(:checked) > label:hover ~ label {
    color: #deb217;  
}

.rate-hard > input:checked + label:hover,
.rate-hard > input:checked + label:hover ~ label,
.rate-hard > input:checked ~ label:hover,
.rate-hard > input:checked ~ label:hover ~ label,
.rate-hard > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rate-hard label input {
    display: none;
}

.rate-good {
    float: left;
    height: 10px;
    padding: 0 10px;
}

.rate-good:not(:checked) > input {
    position:absolute; 
    left:-999px;
}

.rate-good:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:25px;
    color:#ccc;
}

.rate-good:not(:checked) > label:before {
    content: '★ ';
}

.rate-good > input:checked ~ label {
    color: #ffc700;    
}

.rate-good:not(:checked) > label:hover,
.rate-good:not(:checked) > label:hover ~ label {
    color: #deb217;  
}

.rate-good > input:checked + label:hover,
.rate-good > input:checked + label:hover ~ label,
.rate-good > input:checked ~ label:hover,
.rate-good > input:checked ~ label:hover ~ label,
.rate-good > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rate-good label input {
    display: none;
}
/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */

.comment-btn{
    float: right;
    margin-right: 5%;
}

.comment-username{
    font-size: 1.15em;
}