<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        
        <link href="/static/stylesheet.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Roboto|Satisfy&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        {{ moment.include_moment() }}

        <title>UTrails: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-dark">
            <span class="navbar-brand"><span class="logo-text">UTrails</span></span>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/">Map</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-itam"><a class="nav-link" href="/changepw">Change Password</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="/search" method="get">
                        <div class="form-group mx-auto">
                            <input autocomplete="off" autofocus class="form-control" name="search" placeholder="Search Trails and Users" type="text" id="search">
                            <button type="submit" class="btn btn-search ml-1"><i class="fas fa-search"></i></button>
                        </div>
                        
                    </form>
                {% else %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/">Map</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="/search" method="get">
                        <div class="form-group mx-auto">
                            <input autocomplete="off" autofocus class="form-control" name="search" placeholder="Search Trails and Users" type="text" id="search">
                            <button type="submit" class="btn btn-search ml-1"><i class="fas fa-search"></i></button>
                        </div>
                        
                    </form>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
    <footer>
        <div class="text-center">
            <p>© 2017 Justis Corbett All Rights Reserved</p>
            <p>Contact Me: corbettjustis@gmail.com</p>
        </div>
    </footer>
</html>