<html>
    <body>
        <div>
            <h3><a href="/trail?name=">trailname</a></h3>
        </div>
        <div class="rating">
            <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span><p class ="rate-text">Average User Rating</p>
        </div>
        <div class="difficulty">
                <span class="fa fa-square"></span><span class="fa fa-square"></span><span class="fa fa-square"></span><span class="fa fa-square"></span><span class="fa fa-square-o"></span><p class ="rate-text">Average User Difficulty</p>
        </div>
    </body>
</html>
<html><div><h3><a href="/trail?name=Temple+of+Sinawava">Temple of Sinawava</a></h3></div><div><p>Average User Rating: unrated/5</p></div><div><p>Average User Difficulty: unrated/5</p></div></html>