{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="mx-auto col-lg-6 col-sm-10 p-3 text-center">
        <p class="page-title">Search Results</p>
    </div>
    <div class="row mx-md-n5">
        <div class="col px-md-5 ">
            <div class="result-head">
                <span class="result-header-text">Trails</span>
            </div>
            <div class="result-content px-2 fixed-header">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Primary Use</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if trail %}
                            {% for trail in trails%}
                                <tr>
                                    <td><a href="/trail?name={{ trail.link }}">{{ trail.trailname }}</a></td>
                                    {% if trail.use == "OVPrimaryUseHIKE" %}
                                        <td class="use-icon"><i class="fas fa-hiking"></i></td>
                                    {% elif trail.use == "OVPrimaryUseMTB" %}
                                        <td class="use-icon"><i class="fas fa-bicycle"></i></td>
                                    {% else %}
                                        <td class="use-icon"><i class="fas fa-arrows-alt"></i></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td><h4>Sorry! No Trails Found</h4></td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col px-md-5 ">
            <div class="result-head">
                <span class="result-header-text">Users</span>
            </div>
            <div class="result-content px-2 fixed-header">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if users %}
                            {% for user in users%}
                                <tr>
                                    <td><a href="/trail?name={{ user.link }}">{{ user.username }}</a></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td><h4>Sorry! No Users Found</h4></td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}