{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="mx-auto col-lg-6 col-sm-10 p-3 text-center">
        <p class="page-title">Search Results</p>
    </div>
    <div class="row mx-md-n5">
        <div class="col px-md-5 ">
            <div class="result-head">
                <span class="result-header-text">Trails</span>
            </div>
            <div class="result-content px-2">
                <table class="table table-sm">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col px-md-5 ">
                <div class="result-head">
                    <span class="result-header-text">Users</span>
                </div>
                <div class="result-content px-2">
                    <span>sdf</span>
                </div>
            </div>
    </div>
</div>
{% endblock %}