{% extends "layout.html" %}

{% block title %}
    User: {{ user.username }}
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row mx-md-n5 mt-2">
        <div class="col px-md-5">
            <div class="result-head">
                <span class="result-header-text">User History</span>
                <div>
                    <span class="result-header-rating">{{ user.username }}</span>
                </div>
            </div>
            <div class="result-content px-2">
                <table class="table table-sm">
                    <tbody>
                        {% for post in user["posts"]%}
                            <tr>
                                <td>{{ post["trail"] }}</td>
                                <td>{{ post["rating"] }}</td>
                                <td>{{ post["post"] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}